<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <header>
        <%- include('./partials/header.ejs') %>
    </header>
    <main>
        <div class="container-fluid custom-form">
            <form action="/addstudent/save/0" method="post" id="form">
            <div style="border: 1px solid #ccc; border-radius: 5px; padding: 10px; background-color: #404258; color: #ffff">
                <h3 style="text-align: center">Student Information</h3>
                
                <div class="mb-4 form-group">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" aria-describedby="idHelp" name="id" required>
                    <div id="idHelp" class="form-text text-muted">The ID must be a 8 digits number</div>
                </div>
                <div class="mb-4 form-group">
                    <label for="fullname">Full Name</label>
                    <input type="text" class="form-control" name="fullname" aria-describedby="fullnameHelp" required>
                    <div id="fullnameHelp" class="form-text text-muted">Input must not have special character</div>
                </div>
                <div class="mb-4 form-group">
                    <label for="dateofbirth">Date of birth</label>
                    <input type="date" class="form-control" name="dob" aria-describedby="dobHelp" required>
                    <div id="dobHelp" class="form-text text-muted">Date must be in range 01/01/2000 - 12/31/2004</div>
                </div>   
                
                <div class="mb-4 form-group">
                    <label for="faculty">Faculty</label>
                    <input type="text" class="form-control" name="faculty" required>
                </div>   
    
                <div class="mb-4">
                    <label for="major">Major</label>
                    <input type="text" class="form-control" name="major" required>
                </div> 
            </div>  
                <br>
            <div class="mb-4" style="border: 1px solid #ccc; border-radius: 5px; padding: 10px">
                <h3 style="text-align: center">Academic Transcript</h3>
                <div id="workplace">
                </div>
                <button id="addsubject" type="button" class="btn btn-dark" style="border-radius: 10px;text-align: center;">Add Subject</button> 
            </div>  
            <br>
            <div class="mt-4" style="text-align: center">
                <button id="save" class="btn btn-success" type="submit">Save</button>
            </div>   
        </form>
        </div>        
    </main>
    <footer>
        <%- include('./partials/footer.ejs') %>
    </footer>
</body>
<script src="javascripts/create.js"></script>
<script src="javascripts/main.js"></script>
</html>