.index {
    padding: 0;
    margin: 0;
    text-align: center;
}
div.settings {
    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap:5px;
}
div.settings label { text-align:right; }
div.settings label:after { content: ":"; }